<% content_for :title, "Pokemon Rainbow" %>

<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto text-center">
    <h2 style="margin-bottom:50px; margin-top:50px">Pokemon Rainbow</h2>
    <%= image_tag("pokemon.png", height:"200")%>
  </div>
</div>