<% content_for :title, "Edit Skill - #{@skill.name}" %>
<ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => ">" %>
</ol>
<div class="container">
<h1 style="margin-bottom:30px"><strong>Edit Skill</strong></h1>

<div class="row">
  <div class="col-md-3 col-md-9">
    <%= render 'form'%>
  </div>
</div>
</div>